/* Fix for fixed navbars */
body {
  margin-top: 40px;
}

/* Fix for this issue: https://github.com/Eonasdan/bootstrap-datetimepicker/issues/1049 */

.timepicker{
	min-width: 228px;
}
.datepicker{
	min-width: 240px;
}


/*Fix for this issue: http://stackoverflow.com/questions/19070813/bootstrap-3-and-sticky-footer */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: #f5f5f5;
}